Repository sensuikan1973/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, git, linux, macos, iTerm2, zsh, ruby, nodejs

Initialize direnv in .main.zsh
  zsh/.main.zsh
Labels: zsh

Update .main.zsh
  zsh/.main.zsh
Labels: zsh

Add AI tools section to .gitignore
  git/.gitignore
Labels: git

Update .gitignore
  git/.gitignore
Labels: git

Update .gitignore
  git/.gitignore
Labels: git

Update setup.sh
  setup.sh
Labels: none

Update Brewfile
  macos/Brewfile
Labels: macos

Add Brave browser to Brewfile
  macos/Brewfile
Labels: macos

Add 'gh' to Brewfile for GitHub CLI
  Brewfile
Labels: none

update iTerm
  macos/iterm2/com.googlecode.iterm2.plist
Labels: macos, iTerm2

homebrew shellenv
  zsh/.main.zsh
Labels: zsh

Update Brewfile
  macos/Brewfile
Labels: macos

.github/labeler.yml:

---
GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

git:
  - changed-files:
      - any-glob-to-any-file: git/**/*

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*

macos:
  - changed-files:
      - any-glob-to-any-file: macos/**/*

iTerm2:
  - changed-files:
      - any-glob-to-any-file: macos/iterm2/**/*

zsh:
  - changed-files:
      - any-glob-to-any-file: zsh/**/*
      - any-glob-to-any-file: etc/**/*

ruby:
  - changed-files:
      - any-glob-to-any-file: ruby/**/*

nodejs:
  - changed-files:
      - any-glob-to-any-file: nodejs/**/*
