Repository sensuikan1973/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, git, linux, macos, iTerm2, zsh

.github/labeler.yml:

GitHub Actions:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml

git:
  - git/**/*

linux:
  - linux/**/*

macos:
  - macos/**/*

iTerm2:
  - macos/iterm2/**/*

zsh:
  - zsh/**/*

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions

add workflow to prevent typos
  .github/.typos_config.toml
  .github/workflows/prevent_typos.yaml
Labels: GitHub Actions

add config
  .github/.typos_config.toml
Labels: none

fix trigger path
  .github/.typos_config.toml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

fix trigger path
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

add workflow_dispatch:
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

replace ubuntu-20.04 -> ubuntu-latest
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

replace macos-11 -> macos-latest
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

fix config
  .github/.typos_config.toml
Labels: none

add workflow to prevent typos (#78)
  .github/.typos_config.toml
  .github/workflows/prevent_typos.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

add vscode setting
  .github/workflows/setup_machine.yaml
  .vscode/settings.json
Labels: GitHub Actions

add shellcheck workflow
  .github/workflows/shell_script_ci.yaml
Labels: GitHub Actions

fix SC2086
  .zshrc
  setup.zsh
  zsh/.main.zsh
  zsh/.plugin.zsh
  zsh/bin/disk-rankN.zsh
  zsh/bin/find-bigN.zsh
  zsh/bin/upgrade_system_deps.zsh
  zsh/install_plugins.zsh
Labels: zsh

fix SC2006
  .zshrc
  setup.zsh
Labels: none

# shellcheck disable=SC1091
  .zshrc
  macos/.main.zsh
  setup.zsh
  zsh/.main.zsh
  zsh/.plugin.zsh
  zsh/bin/upgrade_system_deps.zsh
Labels: macos, zsh

fix SC2046
  .zshrc
  setup.zsh
  zsh/.plugin.zsh
Labels: zsh

fix SC2088
  macos/defaults/screencapture.zsh
Labels: macos

fix SC2086
  macos/setup.zsh
  setup.zsh
  zsh/install_plugins.zsh
Labels: macos, zsh

fix SC2139
  zsh/.alias.zsh
Labels: zsh

fix? SC2034
  zsh/.plugin.zsh
Labels: zsh

fix SC2066
  setup.zsh
Labels: none

disable SC2034
  zsh/.plugin.zsh
Labels: zsh

disable SC2034
  zsh/.main.zsh
  zsh/.prompt.zsh
Labels: zsh

fix SC2016
  zsh/.prompt.zsh
Labels: zsh

fix SC2155
  zsh/.path.zsh
Labels: zsh

disable SC1090
  setup.zsh
Labels: none

fix SC2044
  macos/setup.zsh
Labels: macos

disable SC2153
  zsh/.plugin.zsh
Labels: zsh

disable SC1090
  macos/setup.zsh
Labels: macos

fix workflow
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

fix
  zsh/.prompt.zsh
Labels: zsh

disable SC2016
  zsh/.prompt.zsh
Labels: zsh

add workflow to shellcheck (#79)
  .github/workflows/setup_machine.yaml
  .github/workflows/shell_script_ci.yaml
  .vscode/settings.json
  .zshrc
  macos/.main.zsh
  macos/defaults/screencapture.zsh
  macos/setup.zsh
  setup.zsh
  zsh/.alias.zsh
  zsh/.main.zsh
  zsh/.path.zsh
  zsh/.plugin.zsh
  zsh/.prompt.zsh
  zsh/bin/disk-rankN.zsh
  zsh/bin/find-bigN.zsh
  zsh/bin/upgrade_system_deps.zsh
  zsh/install_plugins.zsh
Labels: GitHub Actions, macos, zsh

add counterpart workflow
  .github/scripts/do_nothing_on_counterpart_workflow.sh
  .github/workflows/setup_machine.counterpart.yaml
  .github/workflows/shell_script_ci.counterpart.yaml
Labels: GitHub Actions

add counterpart workflow (#80)
  .github/scripts/do_nothing_on_counterpart_workflow.sh
  .github/workflows/setup_machine.counterpart.yaml
  .github/workflows/shell_script_ci.counterpart.yaml
Labels: GitHub Actions

disable to install Rdoc
  setup.zsh
Labels: none

fix SC2034
  setup.zsh
Labels: none

fix workflow trigger
  .github/workflows/setup_machine.counterpart.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

disable to install Rdoc (#81)
  .github/workflows/setup_machine.counterpart.yaml
  .github/workflows/setup_machine.yaml
  setup.zsh
Labels: GitHub Actions
