Repository sensuikan1973/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, git, linux, macos, iTerm2, zsh, ruby, nodejs

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh (#155)
  .github/workflows/setup_machine.yaml
  nodejs/setup.sh
Labels: GitHub Actions, nodejs

Update setup.sh
  setup.sh
Labels: none

Update setup.sh (#156)
  setup.sh
Labels: none

Update Brewfile
  Brewfile
Labels: none

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update Brewfile (#157)
  .github/workflows/setup_machine.yaml
  Brewfile
Labels: GitHub Actions

Update dependabot_auto_merge.yaml
  .github/workflows/dependabot_auto_merge.yaml
Labels: GitHub Actions

add `brew autoremove`
  setup.sh
Labels: none

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

add `brew autoremove` (#159)
  .github/workflows/setup_machine.yaml
  setup.sh
Labels: GitHub Actions

.gitconfig の更新
  git/.gitconfig
Labels: git

dart cli completion
  .zshrc
Labels: none

Update upgrade_cask
  macos/bin/upgrade_cask
Labels: macos

Update Brewfile
  macos/Brewfile
Labels: macos

.github/labeler.yml:

---
GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

git:
  - changed-files:
      - any-glob-to-any-file: git/**/*

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*

macos:
  - changed-files:
      - any-glob-to-any-file: macos/**/*

iTerm2:
  - changed-files:
      - any-glob-to-any-file: macos/iterm2/**/*

zsh:
  - changed-files:
      - any-glob-to-any-file: zsh/**/*
      - any-glob-to-any-file: etc/**/*

ruby:
  - changed-files:
      - any-glob-to-any-file: ruby/**/*

nodejs:
  - changed-files:
      - any-glob-to-any-file: nodejs/**/*
