Repository sensuikan1973/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, git, linux, macos, iTerm2, zsh, ruby, nodejs

Update labeling_pr.yaml
  .github/workflows/labeling_pr.yaml
Labels: GitHub Actions

Update com.googlecode.iterm2.plist (#147)
  macos/iterm2/com.googlecode.iterm2.plist
Labels: macos, iTerm2

Update Brewfile
  Brewfile
Labels: none

Update Brewfile
  Brewfile
Labels: none

Update Brewfile
  Brewfile
Labels: none

Update Brewfile
  Brewfile
Labels: none

Update Brewfile
  Brewfile
Labels: none

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update Brewfile
  Brewfile
Labels: none

add `p7zip` to Brewfile (#148)
  .github/workflows/setup_machine.yaml
  Brewfile
Labels: GitHub Actions

Update Brewfile
  Brewfile
Labels: none

Update Brewfile (#149)
  Brewfile
Labels: none

add `llvm` to Brewfile (#151)
  Brewfile
Labels: none

Update Brewfile
  Brewfile
Labels: none

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml (#154)
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup.sh (#153)
  .github/workflows/setup_machine.yaml
  nodejs/setup.sh
Labels: GitHub Actions, nodejs

Update setup.sh
  nodejs/setup.sh
Labels: nodejs

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

.github/labeler.yml:

---
GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

git:
  - changed-files:
      - any-glob-to-any-file: git/**/*

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*

macos:
  - changed-files:
      - any-glob-to-any-file: macos/**/*

iTerm2:
  - changed-files:
      - any-glob-to-any-file: macos/iterm2/**/*

zsh:
  - changed-files:
      - any-glob-to-any-file: zsh/**/*
      - any-glob-to-any-file: etc/**/*

ruby:
  - changed-files:
      - any-glob-to-any-file: ruby/**/*

nodejs:
  - changed-files:
      - any-glob-to-any-file: nodejs/**/*
