Repository sensuikan1973/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, git, linux, macos, iTerm2, zsh, ruby, nodejs

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update .zshrc
  .zshrc
Labels: none

fix setup_machine workflow (#160)
  .github/workflows/setup_machine.yaml
  .zshrc
Labels: GitHub Actions

Update setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update setup_machine.yaml (#162)
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

Update .alias.zsh
  zsh/.alias.zsh
Labels: zsh

Update Brewfile
  Brewfile
Labels: none

Update Brewfile (#164)
  Brewfile
Labels: none

Update Brewfile
  macos/Brewfile
Labels: macos

del com.apple.Safari
  macos/defaults/Safari.sh
Labels: macos

migrate google-cloud-sdk to gcloud-cli
  macos/.path.zsh
  macos/Brewfile
  macos/completion.zsh
Labels: macos

migrate google-cloud-sdk to gcloud-cli (#165)
  macos/.path.zsh
  macos/Brewfile
  macos/completion.zsh
Labels: macos

add sequel-ace
  macos/Brewfile
Labels: macos

Update .gitconfig
  git/.gitconfig
Labels: git

corepack issue
  nodejs/setup.sh
Labels: nodejs

Add db-browser-for-sqlite to Brewfile
  macos/Brewfile
Labels: macos

Add db-browser-for-sqlite to Brewfile (#168)
  macos/Brewfile
Labels: macos

fix typo
  macos/Brewfile
Labels: macos

rehash
  nodejs/setup.sh
Labels: nodejs

rehash (#170)
  nodejs/setup.sh
Labels: nodejs

openjdk
  Brewfile
  java/setup.sh
  zsh/.path.zsh
Labels: zsh

tes
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

SC2086
  java/setup.sh
Labels: none

fix typo
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

openjdk (#172)
  .github/workflows/setup_machine.yaml
  Brewfile
  java/setup.sh
  zsh/.path.zsh
Labels: GitHub Actions, zsh

Set Dock tile size to 77
  macos/defaults/dock.sh
Labels: macos

Set Dock tile size to 77 (#173)
  macos/defaults/dock.sh
Labels: macos

Create analyze_storage
  zsh/bin/analyze_storage
Labels: zsh

chmod +x
  zsh/bin/analyze_storage
Labels: zsh

add analyze storage script (#174)
  zsh/bin/analyze_storage
Labels: zsh

use amazon corretto instead of openjdk
  .github/workflows/setup_machine.yaml
  Brewfile
  java/setup.sh
  macos/Brewfile
  zsh/.path.zsh
Labels: GitHub Actions, macos, zsh

remove unnecessary whitespace and comments related to OpenJDK in setup_machine.yaml
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

use amazon corretto instead of openjdk (#175)
  .github/workflows/setup_machine.yaml
  Brewfile
  java/setup.sh
  macos/Brewfile
  zsh/.path.zsh
Labels: GitHub Actions, macos, zsh

giignore my memo
  git/.gitignore
Labels: git

update gitignore for my memo
  git/.gitignore
Labels: git

bye pyenv
  .github/workflows/setup_machine.yaml
  Brewfile
  zsh/.main.zsh
Labels: GitHub Actions, zsh

fix
  .github/workflows/setup_machine.yaml
Labels: GitHub Actions

add doc link comment
  macos/Brewfile
Labels: macos

Update Brewfile
  macos/Brewfile
Labels: macos

Add direnv to Brewfile for AOI
  Brewfile
Labels: none

.github/labeler.yml:

---
GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

git:
  - changed-files:
      - any-glob-to-any-file: git/**/*

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*

macos:
  - changed-files:
      - any-glob-to-any-file: macos/**/*

iTerm2:
  - changed-files:
      - any-glob-to-any-file: macos/iterm2/**/*

zsh:
  - changed-files:
      - any-glob-to-any-file: zsh/**/*
      - any-glob-to-any-file: etc/**/*

ruby:
  - changed-files:
      - any-glob-to-any-file: ruby/**/*

nodejs:
  - changed-files:
      - any-glob-to-any-file: nodejs/**/*
